body {
    background-color: #FFBE98;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #000000
}

h1,
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.team {
    background-color:  #000000;
    color: #FFBE98;
}

blockquote p {
    font-style: italic;
}

table,
th,
td {
    border: solid #766257;
    border-collapse: collapse;
    text-align: center;
}

img {
    border-color: #766257;
    border-style: dotted;
    border-width: .125rem;
}