body{
    max-width: 31.25rem; 
	margin: 0 auto;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	color: #000;
}

h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header p,
footer p,
.services div,
.navbar{
    text-align: center;
}

nav ul{
    padding: 0;
}

nav li{
display: inline-block;
}

nav a{
    text-decoration: none;
    color: #003800;
    font-weight: bold;
    padding: .75rem;  
}       

nav a:visited{
    color: #003800;
}

nav a:hover,
nav a:focus{
    color: #338033;
}

nav a:focus {
    outline: 1px dotted #338033
}

nav a:active{
    background-color: #338033;
    color:#fff;
}

.article-service {
    background-color: #caffca;
    padding: .9375rem 1.25rem; 
    margin-top: 1.875rem;
}

.article-service h3 {
    margin: 0;
    padding: 0;
}

hr{
    border: 0.0625rem solid #338033;
    margin: 0;
}

.email-button {
    display: inline-block;
    padding: .9375rem 3.75rem;
    margin-top: 1.5625rem;
    margin-bottom: 1.25rem;
    background-color: #338033;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.facebook{
    color:#338033
}

.article-customer{
    margin-top: 1.25rem;
    margin-bottom: 3rem;
    text-align: center;
}

img{
    border-radius: 50%;
    margin-bottom: .625rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    }